<div class="row">
    <div class="col-sm-4" ng-repeat="Experiencia in Experiencias">
        <h3>{{Experiencia.Empresa}}</h3>
        <div style="margin-top:-10px;">{{Experiencia.Ate}} ~ {{Experiencia.De}}</div>
        <ul>
            <li ng-repeat="Cargo in Experiencia.Cargos">
                <h4>{{Cargo.Descricao}}</h4>
                <div ng-show="Cargo.De" style="margin-top:-10px;">{{Cargo.Ate}} ~ {{Cargo.De}}</div>
                <ul>
                    <li ng-repeat="Funcao in Cargo.Funcoes">{{Funcao}}</li>
                </ul>
            </li>
        </ul>
    </div>
</div>